<ion-view title="Shared Details">
    <ion-content>
        <div class="list" style="margin-bottom:0px;">
            <div class="item item-avatar-right">
                <img src="app/images/doc.svg" style="border-radius: 0%" ng-show="assignment.DocumentURL != null && assignment.DocumentURL != ''" ng-click="viewDocument()">
                <h2>{{assignment.Name}}</h2>
                <p>{{assignment.CreatedAt | date: 'dd-MMM'}}</p>
            </div>
            <div class="item">
                <h2 style="white-space: normal" ng-if="assignment.Description != null && assignment.Description != ''" compile="DescriptionToShow"></h2>
            </div>
            <iframe ng-if="assignment.VideoURL" width="100%" height="202px" src="{{assignment.VideoURL}}" frameborder="0" allowfullscreen></iframe>
            <ion-gallery ng-if="assignment.Images.length > 0" ion-gallery-items="assignment.Images"></ion-gallery>
        </div>
    </ion-content>
    <ion-floating-menu menu-color="#4a79c9" menu-icon="ion-android-share-alt" menu-open-color="#4a79c9">
        <ion-floating-item button-color="#4a79c9" icon="ion-android-download" text="Download" click="checkPermission(0)"></ion-floating-item>
        <ion-floating-item button-color="#4a79c9" icon="ion-android-share-alt" text="Share" click="checkPermission(1)"></ion-floating-item>
    </ion-floating-menu>
</ion-view>