<ion-view title="Change Password">
    <ion-content>
        <div class="list" style="margin-bottom: 0px;">
            <label class="item item-input item-stacked-label">
                <span class="input-label custom">Current Password</span>
                <input type="text" ng-if="showPasswordIsChecked" placeholder="Current Password" ng-model="data.CurrentPassword">
                <input type="password" ng-if="!showPasswordIsChecked" placeholder="Current Password" ng-model="data.CurrentPassword">
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label custom">New Password</span>
                <input type="text" ng-if="showPasswordIsChecked" placeholder="New Password" ng-model="data.NewPassword">
                <input type="password" ng-if="!showPasswordIsChecked" placeholder="New Password" ng-model="data.NewPassword">
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label custom">Confirm Password</span>
                <input type="text" ng-if="showPasswordIsChecked" placeholder="Confirm Password" ng-model="data.ConfirmPassword">
                <input type="password" ng-if="!showPasswordIsChecked" placeholder="Confirm Password" ng-model="data.ConfirmPassword">
            </label>
        </div>
        <ion-checkbox class="checkbox-custom" ng-model="showPasswordIsChecked">Show passwords</ion-checkbox>
        <div class="row text-center" ng-if="errorMessage">
            <div class="col assertive" style="font-size:17px;">
                {{errorMessage}}
            </div>
        </div>
        <div class="row">
            <div class="col">
                <button class="button button-custom loginButton" ng-click="changePassword()">
                    Change
                </button>
            </div>
        </div>
    </ion-content>
</ion-view>