<ion-popover-view>
    <ion-content>
        <div class="list" style="margin-left: 1px;">
            <a class="item" href ng-click="openPDF(defaultPresentationURL[0].MediaURL)" ng-if="defaultPresentationURL[0].MediaURL != null">
                Reference notes
            </a>
            <a class="item schoolName" href ng-click="openPDF(presentationURL[0].MediaURL)" ng-if="presentationURL[0].MediaURL != null" style="text-transform: lowercase;">
                {{keywords.CollegeType}} Notes
            </a>
            <a class="item" href ng-click="openPDF(topic.QuestionsMediaURL)" ng-if="topic.QuestionsMediaURL != null">
                Question Papers
            </a>
        </div>
    </ion-content>
</ion-popover-view>